%table{:border=>"1"}
    %tr
        %td Логин
        %td Администратор
    - @users_list.each do |users|
        %tr
            %td= users.name
            %td
                %input{:type=>"checkbox",:name=>"role_#{users.id}",:checked=>users.role}
            
                
%br